<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<header>
    <div th:insert="header :: copy"></div>
    <h2>User registration</h2>
</header>
<form th:action="@{/admin}" th:object="${newUser}" method="post" >
    <input th:field="*{id}" type="hidden" id="id"><!-- скрытая форма чтобы не терять id пользователя при update-->

    <label for="username">Username</label>
    <input th:field="*{username}" type="text" id="username">
    <br>
    <label for="password">Password</label>
    <input th:field="*{password}" type="text" id="password">
    <br>
    <label for="age">Age</label>
    <input th:field="*{age}" type="text" id="age">
    <br>
    <label for="email">E-Mail</label>
    <input th:field="*{email}" type="text" id="email">
    <br>
    <label>ROLE: </label>
    <select multiple name="role" size="2" th:field="*{roles}">
        <option th:each="role : ${setRoles}" th:value="${role.id}" th:text="${role.name}"> </option>
    </select>
    <br>
    <br>
    <input type="submit" value="Save user">
</form>

</body>
</html>